parameters:
  editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
  level: 8
  checkGenericClassInNonGenericObjectType: false
  paths:
    - Classes
    - Tests
    - Configuration
  excludePaths:
    analyse:
      -  Configuration/Services/Transports.php
      -  Configuration/Services.php
      -  Classes/DependencyInjection/Compiler/NotifierCompilerPass.php
      -  Tests/Functional/Fixtures/Extensions/*
